@import url(common.css);
main{
    margin: calc(var(--line-height)*6) var(--margin);
    display: flex;
    align-content: space-between;
    gap: calc(var(--line-height)*19);
    flex-direction: column;
}
.main{
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.anode{
    width: 1191px;
    height: 584px;
    background: url(../img/anode.png) no-repeat 0 0 / 100%;
    transform: translateX(-163px);
}
.anode h2{
    padding: 0 0 var(--line-height) 473px ;
}
.anode p{
    padding: 0 0 var(--line-height) 589px ;
}
.main .query-nav{
    padding-top: 543px;
}
.query-nav .next.btn{
    width: 212px;
    height: 43px;
    background-size: 100%;
}
.main .query-nav span{
    font-size: 24px;
    bottom: 15px;
}
/* ----- form ----- */
/* 클릭시 hidden 제거 */
#query{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
#query form{
    width: 49%;
    height: 100%;
    background: var(--white);
    margin: 0 auto;
    padding: calc(var(--line-height)*3) var(--margin);
    position: relative;
}
#query form > h3{font-weight: 700;}
#query form > h4, #query form .con-tt{font-weight: 500;}
#query form > i{
    position: absolute;
    top: calc(var(--line-height)*2);
    right: 100px;
    font-size: 20px;
    cursor: pointer;
}
.form-pd{
    padding-bottom: calc(var(--line-height)*2);
}
.checkbox{
    display: flex;
    gap: 90px;
}
.check-box{
    display: flex;
    gap: 25px;
}
.check-box label{
    position: relative;
    padding-left: 15px;
    cursor: pointer;
}
.check-box label::before{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 2px solid var(--secondary-c);
}
/* label 클릭시 class명 check 추가 */
label.check::before{
    background: #a50034;
    border-color: #a50034;
}
/* select */
/* .select클릭시 rotate 추가 */
.select{
    position: relative;
    display: flex;
    gap: 70px;
}
.select .label{
    border-bottom: 1px solid var(--secondary-c);
    padding: 0 5px 8px;
    box-sizing: border-box;
}
.select .optionList{
    position: absolute;
    left: 170px;
    bottom: -20px;
    border: 1px solid var(--white);
    background-color: var(--white);
    width: 80px;
    text-align: center;
    transition: 0.4s;
    cursor: pointer;
    opacity: 0;
    box-sizing: border-box;
    transform: translateY(50px);
}
.select.rotate .optionList{
    transform: translateY(0);
    opacity: 1;
}
.select .optionList li{
    padding: 5px;
    color: var(--title-color);
}
.option:hover{
    color: var(--primary-c);
    background-color: #ebebeb;
}
/* i클릭시 .select.rotate 추가 */
.select i{
    font-size: 20px;
    padding-left: 5px;
    transform: translateY(0px) rotateX(0deg);
    transition: 0.4s;
    color: var(--secondary-c);
    cursor: pointer;
}
.select.rotate i{
    transform: translateY(2px) rotateX(180deg);
}
/* 제품명 */
.product-title{
    display: flex;
    gap: 90px;
}
.product-title a{
    height: var(--line-height);
    box-sizing: border-box;
}
/* 제목 */
.title{
    display: flex;
    gap: 125px;
}
.title input{
    border: none;
    color: #2c2c2c;
    text-align: center;
    background-color: transparent;
    border-bottom: 2px solid var(--secondary-c);
    width: 60%;
    font-size: 20px;
    padding-bottom: 10px;
}
.title input:focus{
    outline: none;
    border-bottom-color:var(--primary-c);
}
/* 문의내용 */
.query-con{
    display: flex;
    gap: 80px;
}
textarea{
    width: 74%;
    height: 214px;
    background: #f2f2f2;
    color: var(--title-color);
    padding: 10px;
    resize: none;
    box-sizing: border-box;
}
textarea:focus{
    outline: none;
}
.email-form{
    display: flex;
    gap: 90px;
}
.email-form input{
    border: none;
    color: #2c2c2c;
    text-align: center;
    background-color: transparent;
    border-bottom: 2px solid var(--secondary-c);
    width: 50%;
    box-sizing: border-box;
}
.email-form input:focus{
    outline: none;
    border-bottom-color: var(--primary-c);;
}
.send-form{
    display: flex;
    justify-content: center;
}
.send-form button{
    cursor: pointer;
}
/* required */
span.bad-input{
    border-radius: 5px;
    padding: 3px 10px;
    color: red;
    position: absolute;
    white-space: nowrap;
    transform: translateY(100%);
    margin-left: 200px;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn{
    0%{margin-left: 200px; opacity: 0;}
    100%{margin-left: 155px; opacity: 1;}
}

/* -------- main  ------- */
main section .right-con{
    display: flex;
    justify-content: flex-end;
}
.content h3{
    padding-bottom: var(--line-height);
}
section .car{
    width: 822px;
    height: 528px;
    background: url(../img/car2.png) no-repeat 0 0 / 100%;
    position: relative;
}
section .car > div{
    width: 625px;
    position: absolute;
    right: 0;
    top: -45px;
    text-align: right;
}
.purepose{
    display: flex;
    justify-content: center;
    gap: 210px;
    text-align: center;
}
.purepose img{
    padding: calc(var(--line-height)*2) var(--line-height);

}
.function{
    width: 850px;
    height: 488px;
    background: url(../img/1_Cathode_kor.png) no-repeat 0 0 /100%;
    text-align: end;
    position: relative;
}
.function > div{
    width: 570px;
    position: absolute;
    right: 0;
    top: -70px;
}
.cpt{
    display: flex;
    justify-content: center;
    gap: 140px;
}
.cpt p{
    padding: var(--line-height) 0;
}

.content .more{
    text-align: end;
    position: relative;
    height: 835px;
}
.content .more .anode-img{
    display: block;
    overflow: hidden;
}
.content .more > div{
    width: 760px;
    position: absolute;
    right: 0;
    padding-top: var(--line-height);
}
.content .more:hover img{
    transform: scale(1.2);
}
.content .more:hover .sub-tt a{
    color: var(--primary-c);
}