@import url(common.css);
header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
}
main{
    margin: calc(var(--line-height)*6) var(--margin);
    padding-top: calc(var(--line-height)*5);
    display: flex;
    align-content: space-between;
    gap: calc(var(--line-height)*19);
    flex-direction: column;
}
.main{
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.anode{
    width: 1191px;
    height: 584px;
    background: url(../img/anode.png) no-repeat 0 0 / 100%;
    transform: translateX(-163px);
}
.anode h2{
    padding: 0 0 var(--line-height) 473px ;
}
.anode p{
    padding: 0 0 var(--line-height) 589px ;
}
.query-nav .next.btn{
    width: 212px;
    height: 43px;
    background-size: 100%;
}
.query-nav span{
    font-size: 24px;
    bottom: 15px;
}
/* ----- form ----- */
/* 클릭시 hidden 제거 */
body.flow{
    overflow: hidden;
}
#query{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}
#query form{
    width: 49%;
    height: 800px;
    background: var(--white);
    margin: calc(var(--line-height)*2) auto;
    padding: calc(var(--line-height)*2);
    padding-left: calc(var(--line-height)*2 + 30px);
    position: relative;
}
#query form > h3{font-weight: 700;}
#query form > h4, #query form .con-tt{font-weight: 500;}
#close{
    position: absolute;
    top: calc(var(--line-height)*2);
    right: 100px;
    cursor: pointer;
}
#close .fa-x{
    font-size: 20px;
}
.form-pd{
    padding-bottom: calc(var(--line-height)*1.2);
}
.checkbox{
    display: flex;
    gap: 90px;
}
.check-box{
    display: flex;
    gap: 25px;
}
.check-box label{
    position: relative;
    padding-left: 15px;
    cursor: pointer;
}
.check-box label::before{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 2px solid var(--secondary-c);
}
/* label 클릭시 class명 check 추가 */
label.check::before{
    background: #a50034;
    border-color: #a50034;
}
/* select */
/* .select클릭시 rotate 추가 */
.select{
    position: relative;
    display: flex;
    gap: 70px;
}
.select .label{
    border-bottom: 2px solid var(--secondary-c);
    padding: 0 5px 8px;
    box-sizing: border-box;
}
.select .optionList{
    position: absolute;
    left: 170px;
    bottom: -60px;
    border: 1px solid var(--white);
    background-color: var(--white);
    width: 80px;
    text-align: center;
    transition: 0.4s;
    cursor: pointer;
    opacity:  0;
    box-sizing: border-box;
    transform: translateY(50px);
    visibility: hidden;
}
.select.rotate .optionList{
    transform: translateY(24px);
    opacity: 1;
    visibility: visible;
}
.select .optionList li{
    padding: 5px;
    color: var(--title-color);
}
.optionList li:hover{
    color: var(--primary-c);
    background-color: #ebebeb;
}
/* i클릭시 .select.rotate 추가 */
.select .fa-caret-down{
    font-size: 20px;
    padding-left: 5px;
    transform: translateY(0px) rotateX(0deg);
    transition: 0.4s;
    color: var(--secondary-c);
    cursor: pointer;
}
.select.rotate .fa-caret-down{
    transform: translateY(2px) rotateX(180deg);
}
/* 제품명 */
.product-title{
    display: flex;
    gap: 90px;
}
#queryForm .product-title label{
    font-family: var(--body-ff);
}
/* .product-title a{
    height: var(--line-height);
    box-sizing: border-box;
} */
.product-title input{
    border: none;
    color: #2c2c2c;
    text-align: center;
    background-color: transparent;
    border-bottom: 2px solid var(--secondary-c);
    width: 30%;
    font-size: 20px;
    padding-bottom: 10px;
}
.product-title input:focus{
    outline: none;
    border-bottom-color:var(--primary-c);
}
/* 제목 */
.title{
    display: flex;
    gap: 125px;
}
.title input{
    border: none;
    color: #2c2c2c;
    text-align: center;
    background-color: transparent;
    border-bottom: 2px solid var(--secondary-c);
    width: 60%;
    font-size: 20px;
    padding-bottom: 10px;
}
.title input:focus{
    outline: none;
    border-bottom-color:var(--primary-c);
}
/* 문의내용 */
.query-con{
    display: flex;
    gap: 80px;
}
textarea{
    width: 74%;
    height: 214px;
    background: #f2f2f2;
    color: var(--title-color);
    padding: 10px;
    resize: none;
    box-sizing: border-box;
}
textarea:focus{
    outline: none;
}
.email-form{
    display: flex;
    gap: 90px;
}
.email-form input{
    border: none;
    color: #2c2c2c;
    text-align: center;
    background-color: transparent;
    border-bottom: 2px solid var(--secondary-c);
    width: 50%;
    box-sizing: border-box;
}
.email-form input:focus{
    outline: none;
    border-bottom-color: var(--primary-c);;
}
.send-form{
    display: flex;
    justify-content: center;
}
.send-form button{
    cursor: pointer;
}
/* required */
span.bad-input{
    border-radius: 5px;
    padding: 0 10px;
    color: red;
    position: absolute;
    white-space: nowrap;
    transform: translateY(100%);
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn{
    0%{margin-left: 200px; opacity: 0;}
    100%{margin-left: 155px; opacity: 1;}
}

/* -------- main  ------- */
main section .right{
    display: flex;
    justify-content: flex-end;
}
.content h3{
    padding-bottom: var(--line-height);
}
section .car{
    width: 822px;
    height: 528px;
    background: url(../img/car2.png) no-repeat 0 0 / 100%;
    position: relative;
}
section .car > div{
    width: 625px;
    position: absolute;
    right: 0;
    top: -45px;
    text-align: right;
}
.purepose{
    display: flex;
    justify-content: center;
    gap: 210px;
    text-align: center;
}
.purepose img{
    padding: calc(var(--line-height)*2) var(--line-height);

}
.function{
    width: 850px;
    height: 488px;
    background: url(../img/1_Cathode_kor.png) no-repeat 0 0 /100%;
    text-align: end;
    position: relative;
}
.function > div{
    width: 570px;
    position: absolute;
    right: 0;
    top: -70px;
}
.cpt{
    display: flex;
    justify-content: center;
    gap: 140px;
}
.cpt p{
    padding: var(--line-height) 0;
}

.content .more{
    text-align: end;
    position: relative;
    height: 835px;
}
.content .more .anode-img{
    display: block;
    overflow: hidden;
}
.content .more div{
    width: 760px;
    position: absolute;
    right: 0;
    padding-top: var(--line-height);
}
.content .more:hover img{
    transition: 0.3s ease-in-out; 
    transform: scale(1.2);
}
.content .more:hover .sub-tt{
    color: var(--primary-c);
}
@media (max-width:1620px){
    .anode {width: 900px;}
    .anode h2 {font-size:calc(var(--body-fz)*2.625);}
    .query-nav {
        position: absolute;
        right: 0;
        bottom: 155px;
    }
    .query-nav .next.btn {width: 174px;}
    .query-nav span {bottom: 27px;}
    h3.sub-tt{font-size:calc(var(--body-fz)*2);}
    section .car {width: 715px;}
    .tt {font-size: var(--body-fz);}
    .content .content-tt{font-size:calc(var(--body-fz)*1.5);}
    .purepose {gap: 134px;}
    .function {width: 715px;}
    .cpt img{width: 310px;}
    .anode-img img{width:700px;}
    .content .more div {width: 690px;}
}
@media (max-width:1550px){
    .cpt img{width: 19vw;}
    .purepose {gap: 8.4vw;}
    .purepose img {width: 19vw;}
    span.bad-input {transform: translate(-30% , 100%);}
}
@media (max-width:1024px){
    main{
        margin:0;
        padding-top: calc(var(--line-height)*6);
        gap: 200px;
    }
    .anode {
        transform: none;
        width: 100%;
        height: 100%;
        padding-bottom: 235px;
        box-sizing: border-box;
        background-image: url(../img/anode@2x.png);
    }
    .anode h2 {
        padding: 0 0 var(--line-height) 399px;
    }
    .anode p {
        padding: 0 0 var(--line-height) 443px;
    }
    #query form {padding: calc(var(--line-height)*2);}
    #close {right: 25px;}
    #query form > h3, #query form > h4 {
        font-size: 28px;
    }
    form .con-tt {
        font-size: 20px;
    }
    .select .optionList { left: 148px;}
    textarea {width: 62%;}
    .query-nav {
        right: 154px;
        bottom: 5px;
    }
    .query-nav .next.btn{
        color:var(--primary-c);
        background-image: url(../img/next_hover_icon.svg);
    }
    main section ~ section{margin: 0  var(--line-height);}
    .purepose {
        padding-bottom: 100px;
    }
    .content .more { height: 673px;}
}
@media (max-width:820px){
    .anode h2 {
        padding: 17px 0 20px 322px;
        font-size: 26px;
    }
    .anode p { 
        padding-left: 397px;
        font-size: 16px;
    }
    #query form {
        width: 58%;
        height: 766px;}
    #query form > h3, #query form > h4 {
        font-size: 24px;
    }
    .select .optionList {left: 139px;}
    form .con-tt {
        font-size: 18px;
    }
    span.bad-input {
        font-size: 14px;
    }
    .query-nav {
        right: 123px;
        bottom: 60px;
    }
    .query-nav .next.btn {width: 120px;}
    .query-nav span {font-size: 20px;}
    h3.sub-tt {
        font-size: 24px;
    }
    .content .content-tt {
        font-size: 20px;
    }
}
@media (max-width:500px){
    .main{
        display: inline-block;
        height: 270px;
    }
    .anode {
        width: 100%;
        padding-bottom: 0;
        background-image: url(../img/anode1@2x.png);
    }
    .anode h2 {
        padding: 9px 0 20px 232px;
        font-size: 24px;
    }
    .anode p { 
        padding-left: 290px;
        font-size: 14px;
    }
    /* #query{position: absolute;} */
    #query form {
        width: 100vw;
        height: 100vh;
        padding: 100px 25px;
        margin: 0;
        box-sizing: border-box;
        overflow-y: auto;
    }
    #close {
        top: 98px;
    }
    #query form > h3, #query form > h4 {
        font-size: 24px;
    }
    form .con-tt {
        font-size: 16px;
    }
    form .tt{font-size: 12px;}
    .checkbox {gap: 86px;}
    .check-box label {padding-left: 8px;}
    .select .optionList {left: 130px;}
    .select .optionList li {font-size: 14px;}
    .title{gap: 114px;}
    .title input {width: 50%;}
    textarea {
        width: 56%;
        font-size: 12px;
    }
    .query-nav {
        right: 10px;
        bottom: -10px;
    }
    .query-nav .next.btn {width: 100px;}
    .query-nav span {font-size: 16px;}
    section .car {
        height: 300px;
        background-position: 0 100%;
    }
    section .car > div {width: 360px;}
    h3.sub-tt {font-size: 18px;}
    .tt {font-size: 14px;}
    .purepose {
        flex-wrap: wrap;
        gap: 50px;
    }
    .purepose img {
        width: 190px;
        padding: 30px 0;
    }
    .content .content-tt {
        font-size: 15px;
        text-align: start;
    }
    .function > div {width: 360px;}
    .function {
        height: 350px;
        background-position: 0 30%;
    }
    .cpt {
        flex-wrap: wrap;
        gap: 27px;
    }
    .cpt img {width: 348px;}
    .anode-img img {width: 100%;}
    .content .more div {width: 100%;}
    .content .more h3{color: var(--primary-c);}
}
@media (max-width:414px){
    .anode h2 {padding: 0px 0 10px 152px;}
    form > h4 {
        font-size: 20px;
    }
    .anode p {padding-left: 197px;}
    .select .optionList li {font-size: 12px;}
    span.bad-input {
        font-size: 12px;
        transform: translate(-43% , 100%);
    }
    .query-nav {
        right: 25px;
        bottom: 25px;
    }
    .query-nav .next.btn {
        width: 80px;
    }
    .query-nav span {
        font-size: 12px;
    }
    section .car {
        height: 272px;
        background-position: 0 100%;
    }
}
@media (max-width:390px){
    .checkbox { gap: 50px;}
    span.bad-input { transform: translate(-49% , 100%);}
    .select {gap: 37px;}
    .select .optionList {left: 90px;}
    .product-title { gap: 52px;}
    .title {gap: 74px;}
    .query-con {gap: 45px;}
    .email-form { gap: 58px; }
    .query-nav {
        right: 27px;
        bottom: 45px;
    }
    .query-nav .next.btn {width: 65px;}
    .query-nav span {bottom: 30px;}
    .next.btn span {left: 0px;}
    section .car > div { width: 318px;}
    .function {background-position: 0 38%;}
    .function > div { width: 311px;}

}