@import url(normalize.min.css);
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

:root{
    --body-ff: 'Noto Sans KR', sans-serif;
    --body-fz:1rem;
    --line-height:27px;
    --primary-c: #a50034;
    --secondary-c: #6b6b6b;
    --white: #fff;
    --title-color:#2c2c2c;
    --margin: 163px;
}
/*
typopgraphy
*/
body{
    font-family: var(--body-ff);
    font-size: var(--body-fz);
    line-height: var(--line-height);
    color: var(--title-color);
}
.main-tt{
    font-size:calc(var(--body-fz)*3.25);
    font-weight: 700;
    line-height: 1;
}
.sub-tt{
    font-size:calc(var(--body-fz)*2.625);
    font-weight: 500;
    line-height: 1;
}
.content-tt{
    font-size:calc(var(--body-fz)*2);
    font-weight: 400;
    line-height: 1;
}
.con-tt{
    font-size:calc(var(--body-fz)*1.5);
    font-weight: 400;
}
.link{
    color:var(--primary-c);
}
/* color */
.primary-bg {
    background: var(--primary-c);
}
.secondary-bg {
    background: var(--secondary-c);
}
.primary-color {
    color: var(--primary-c);
}
.secondary-color {
    color: var(--secondary-c);
}
.w-color {
    color:var(--white);
}
.content-bg{
    background-color: var(--white);
}
/* buttons */
.btn{
    font-size: calc(var(--body-fz)*1.25);
    display: inline-block;
    vertical-align: bottom;
}
.primary.btn{
    height: 45px;
    line-height: 45px;
    padding: 0 40px;
}
.secondary.btn{
    height: 34px;
    line-height: 30px;
    border: 2px solid var(--secondary-c);
    box-sizing: border-box;
    padding: 0 20px;
    transition:0.5s;
}
.secondary.btn:hover{
    background: var(--secondary-c);
    color: var(--white);
}
.btn span{
    font-size: calc(var(--body-fz)*0.875);
    position: absolute;
    bottom: 5px;
}
.prev.btn{
    width: 82px;
    height: 20px;
    position: relative;
    color: var(--title-color);
    background: url(../img/prev_icon.svg) no-repeat;
}
.prev.btn span{
    right: 5px;
}
.next.btn{
    width: 82px;
    height: 20px;
    position: relative;
    color: var(--title-color);
    background: url(../img/next_icon.svg) no-repeat;
}
.next.btn span{
    left: 5px;
}
.prev.btn:hover{
    color:var(--primary-c);
    background-image: url(../img/prev_hover_icon.svg);
}
.next.btn:hover{
    color:var(--primary-c);
    background-image: url(../img/next_hover_icon.svg);
}
/* ----------------------LAYOUT--------------------- */
.content-mg{margin: 0 var(--margin);}
.pd{padding: var(--line-height) 0;}
.hidden {display: none;}
.j-betweent{
    display: flex;
    justify-content: space-between;
}
/* --------------------HEADER----------------------- */
header{
    padding: calc(1rem*3) 0;
    box-shadow: 0px 1px var(--primary-c);
    position: relative;
    z-index: 1;
}
header div .j-betweent{
    gap:20px;
    padding-top: 3px;
}
/* lang */
.box{
    position: relative;
}
.label{
    text-transform: uppercase; 
    height: var(--line-height);
    cursor: pointer;
}
.optionList{
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translateY(-25px) translateX(-50%);
    border: 1px solid var(--white);
    width: 54px;
    text-align: center;
    background-color: var(--white);
    z-index: -1;
    opacity: 0;
    transition: 0.4s;
    cursor: pointer;
}
.option a{
    display: inline-block;
    color: #6b6b6b;
    width: 100%;
}
.option:hover a{
    color: var(--primary-c);
    background-color: #ebebeb;
}
.box.rotate .optionList{ 
    transform: translateY(0) translateX(-50%); 
    opacity: 1;
}
header .fa-caret-down{
    font-size: var(--line-height);
    transform: translateY(1px) rotateX(0);
    transition: transform 0.5s;
    color: var(--secondary-c);
    cursor: pointer;
}
.box.rotate .fa-caret-down{
    transform: translateY(5px) rotateX(180deg);
}

header div .j-betweent a{
    padding-top: 3px;
}
header div .j-betweent a span{
    font-size: var(--line-height);
    text-align: center;
}
/* menu */
#menu_wrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    visibility: hidden;
}
#menu_wrapper.visible{
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.2);
}
/* 클릭시 visible*/
.visible #menu{
    right: 0;
}
#menu{
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 49.16%;
    background: url(../img/menu-pc.jpg) no-repeat var(--white) 100% 0 / 300px;
    padding: 216px 0 0 var(--margin);
    box-sizing: border-box;
    transition: 0.5s;
}
#menu > ul > li{
    padding: calc(var(--line-height)*2) 0;
}
#menu > li:first-child{
    padding: 0 0 calc(var(--line-height)*2);
}
#menu > ul > li:last-child{
    padding: calc(var(--line-height)*2) 0 0;
    position: absolute;
    right: var(--margin);
}
#menu > ul > li:not(:last-of-type) a{
    font-weight: 700;
}
.underline{
    text-decoration: none;
    position: relative;
}
.underline::after{
    content: '';
    position: absolute;
    transition: 0.4s;
    top: 100%;
    left:0;
    right: 0;
    border-bottom:2px solid var(--primary-c);
    transform: scale(0);
    transform-origin: 0 0;
}  
header nav li:hover .underline::after{
    transform: scale(1);
}
/* sub menu */
#company, #product ,#sustainbility ,#recruit{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: -100%;
    transition: 0.5s;
    visibility: hidden;
}
/* 클릭시 visible */
#company.visible, #product.visible ,#sustainbility.visible ,#recruit.visible{
    visibility: visible;
    right: 0;
}
.submenu-bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 49.16%;
    height: 100%;
    background: var(--white);
}
.submenu-bg > p{
    letter-spacing: 50px;
    font-weight: 700;
    position: absolute;
    left: 50px;
    top: calc(var(--line-height)*2);
    transform: rotate(90deg) translateY(-100%);;
    transform-origin: 0 0;
}
#company .submenu{background: url(../img/small-bg1.jpg) no-repeat 0 calc(var(--line-height)*2);
}
#product .submenu{background: url(../img/small-bg2.jpg) no-repeat 0 calc(var(--line-height)*2);
}
#sustainbility .submenu{background: url(../img/small-bg3.jpg) no-repeat 0 calc(var(--line-height)*2);
}
#recruit .submenu{background: url(../img/small-bg4.jpg) no-repeat 0 calc(var(--line-height)*2);
}
.submenu{
    padding: 216px 0 0;
    margin: 0 auto;
    width: 624px;
    height: 675px;
    display:flex;
	flex-wrap:wrap;
    align-content:space-between; 
}
.submenu > li > p{
    font-weight: 500;
    color: #000;
    word-spacing: var(--line-height);
}
.submenu > li{
    width:100%;
}
.submenu .submenu-pd{
    display: flex;
    padding: var(--line-height) 80px;
    gap: 15px;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.submenu .submenu-pd a{
    color: #2c2c2c;
}
.submenu .submenu-pd li:hover a{
    color: var(--primary-c);
}
.submenu .submenu-pd li:hover .underline::after{
    transform-origin: 50% 50%;
    transform: scale(1);
}
.submenu > li:last-of-type{
    position: relative;
    padding: calc(var(--line-height)*2) 0 0;
}
.submenu > li:last-of-type a{
    position: absolute;
    right: 0;
    bottom: 0;
}

/* search */
header > .search{
    width: 100%;
    height: 100%;
    background-color: #ededed;
    position: fixed;
    top: 136.9px;
    z-index: -2;
}
.search-pg{
    height: 100%;
    width: 954px;
    margin: 0 auto;
    padding-top: calc(var(--line-height)*7);
    box-sizing: border-box;
}
form{
    position: relative;
}
input{
    width: 887px; 
    height: calc(var(--line-height)*4);
    border: none;
    color: #2c2c2c;
    text-align: center;
    background-color: transparent;
    border-bottom: 2px solid var(--secondary-c);
}
input:focus{
    outline: none;
    border-bottom-color:var(--primary-c);
}
input::placeholder{
    color: #a9a9a9; 
    text-align: center;
}
.search button a{
    width: 55px;
    height: 55px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url(../img/search_icon01.svg) no-repeat;
    text-indent: -999em;
}
.search button a:hover{
    background-image: url(../img/search_icon02.svg);
}
.quickly{
    display: flex;
    justify-content: space-around;
    padding-top: calc(var(--line-height)*7);
}
.quickly h2{
    font-weight: 500;
    padding-bottom: calc(var(--line-height)*2);
}
h2:hover .underline::after{
    transform: scale(1);
}
.quickly p{
    width: 217px;
    letter-spacing: 4px;
    text-transform: uppercase;
    position: relative;
    transform: translateX(-30%);
}
.quickly a{
    line-height: var(--line-height);
}
.quickly a:hover{
    color: var(--primary-c);
}