@import url(common.css);


/* ------------------ MORE ---------------- */
#company1, #product1 ,#sustainbility1 ,#recruit1{
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    transition: 1.5s;
    width: 100%;
    /* visibility: hidden; */
}
/* #company.visible, #product.visible ,#sustainbility.visible ,#recruit.visible{
    visibility: visible;
    
} */
/* 클릭시 */
#company1:target, #product1:target, #sustainbility1:target,#recruit1:target{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
}
/* .visible .submenu-bg1{
    left: 0;
} */
.submenu-bg1{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 49.16%;
    height: 100%;
    background: var(--white);
}
.submenu-bg1 > p{
    letter-spacing: 50px;
    font-weight: 700;
    font-size: calc(var(--body-fz)*2.625);
    position: absolute;
    left: 50px;
    top: calc(var(--line-height)*2);
    transform: rotate(90deg) translateY(-100%);;
    transform-origin: 0 0;
}
#company1 .submenu{background: url(../img/small-bg1.jpg) no-repeat 0 calc(var(--line-height)*2);
}
#product1 .submenu{background: url(../img/small-bg2.jpg) no-repeat 0 calc(var(--line-height)*2);
}
#sustainbility1 .submenu{background: url(../img/small-bg3.jpg) no-repeat 0 calc(var(--line-height)*2);
}
#recruit1 .submenu{background: url(../img/small-bg4.jpg) no-repeat 0 calc(var(--line-height)*2);
}