@import url(common.css);

main{
    height: 100vh;
    width: 100vw;
    background-color: #ededed;
}
.search{
    width: 954px;
    height: 100%;
    margin: 0 auto;
    padding-top: calc(var(--line-height)*7);
}
form{
    position: relative;
}
input{
    width: 887px; 
    height: calc(var(--line-height)*4);
    border: none;
    color: #2c2c2c;
    text-align: center;
    background-color: transparent;
    border-bottom: 2px solid var(--secondary-c);
}
input:focus{
    outline: none;
    border-bottom-color:var(--primary-c);
}
input::placeholder{
    color: #a9a9a9; 
    text-align: center;

}
.search button span{
    font-size: 55px;
    color:var(--secondary-c);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.quickly{
    display: flex;
    justify-content: space-around;
    padding-top: calc(var(--line-height)*7);
}
.quickly h2{
    font-weight: 500;
    padding-bottom: calc(var(--line-height)*2);
}
.quickly p{
    width: 217px;
    letter-spacing: 4px;
    text-transform: uppercase;
    position: relative;
    transform: translateX(-30%);
}
.quickly a{
    line-height: var(--line-height);
}
.quickly a:hover{
    color: var(--primary-c);
}