@import url(common.css);

/* search */
main .search{
    background-color: #ededed;
    padding: calc(var(--line-height)*2);
}
main .search form{
    width: 620px;
    height: 60px;
    margin: 0 auto;
}
main .search input{
    width: 562px;
    height: calc(var(--line-height)*2);
}
main input::placeholder{
    font-size: 24px;
}
main .search .search-link span{
    font-size: 39px;
}
/* search tab */
.tab-wrapper{
    width: 1280px;
    margin: 0 auto;
    padding: calc(var(--line-height)*3) 0;
}
.tab-wrapper > div{
    display: flex;
    justify-content: space-around;
    padding-bottom: calc(var(--line-height)*3);
}
.tab-menu{
    display: flex;
    gap: 20px;
}
.tab-menu a{
    text-transform: uppercase;
}
/* 클래스명 target */
.tab-menu a.target{
    color: var(--primary-c);
}
.tab-wrapper div p{
    font-size: 20px;
}
/* tab-result */
.tab-wrapper .tab-result{
    width: 100%;
}
.tab-result > div {display: none;}
.tab-result .content{
    padding-bottom: calc(var(--line-height)*4);
}
.tab-result ul{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.tab-result ul::before, .tab-result ul::after{
    content: '–';
}
.tab-result section a{
    color: var(--title-color);
}
.tab-result section a:hover{
    color: var(--primary-c);
}
/* target 받은 요소 display : flex로 변경 */
.tab-result .product-content{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: flex-start;
    width: 1280px;
}
.tab-result .numbers > li a.active{
    color: var(--primary-c);
}